*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(37, 37, 37);
}

form{
    padding: 1rem;
    border-radius: 4px;
    margin: 3rem auto;
    background-color: darkkhaki;
    width:60vw;
}

label{
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input{
    font-size: 1.2rem;
    width: 50%;
    margin-bottom: 1rem;
}

#charcount{
    color: rgb(105,101,75);
    margin-left: 1rem;
}

button{
    font-weight:500;
    padding: 0.4rem 1rem;
    background-color: rgb(175, 165, 22);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

input.warning{
    background-color: rgb(248,191,145);
}

#remaining-chars.warning{
    color: rgb(211, 109, 26);
}

input.green{
    background-color: rgb(173, 228, 173);
}

#remaining-chars.green{
    color: rgb(28, 136, 28);
}

input.error{
    background-color: rgb(248, 132, 132);
}

#remaining-chars.error{
    color: rgb(211, 38, 26);
}